    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>CoolKids is based on a simple idea, but that can be useful for the education of your kids.</p>

                <p>Give your kids some goals to motivate them: a goal is a small award and can be an ice cream, a new game, whatever.</p>

                <p>Set some good or bad actions that your kids can do to earn points (room cleaning, clearing table, ...) or lose them (dirty wording, bad school results, ...).</p>

                <p>Then the game begins! Your kids will be motivated to fulfill good actions and avoid bad ones to reach their goal.</p>

                <p>Action after action, goal after goal, you'll discover that your kids are becoming more responsible and careful.</p>

                <p>With a simple and lean interface we hope that CoolKids will make the education of your kids a little more funny and that the app will become an useful tool for your fundamental role of educator.</p>
                <br/>
              </div>
        </div>
    </section>
