<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#features">How it works</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contacts">Contacts</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                theme by <a href="http://startbootstrap.com/template-overviews/landing-page/">Start Bootstrap</a>.<br>
                photo by <a href="http://pixabay.com/it/lego-costruire-708089/">Efraimstochter</a>.<br>
                mockups by <a href="http://mockuphone.com/">Mockuphone</a>.
            </div>
        </div>
    </div>
</footer>
