<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <section id="privacy">
            <div class="container">
                <h2>CoolKids Privacy Policy</h2>

                <p>This privacy policy governs your use of a software application (CoolKids) on a mobile device that was created by Augusto Destrero. The Application serve to motivate your kids in self-improving.</p>

                <h2>What information does the Application obtain and how is it used?</h2>

                <h3>User Provided Information</h3>

                <p>The Application does not currently request any information from the user.</p>

                <h3>Automatically Collected Information</h3>

                <p>The Application does not currently collect automatically any information from the user.</p>

                <h3>Geolocation Information</h3>

                <p>This Application does not currently collect any information about the location of your mobile device.</p>

                <h2>Children</h2>
                We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at info@guguweb.com. We will delete such information from our files within a reasonable time.

                <h2>Changes</h2>
                This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here: {{ site.url }}/privacy. You are advised to consult this Privacy Policy regularly for any changes.

                <h2>Contact us</h2>
                If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at info@guguweb.com.
                
                {% include js.html %}
            </div>
        </section>
    </body>
</html>
